body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.steelblue-color {
    color: steelblue;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 80%;
    margin-left: 15%;

}

.link-button {
    color: white;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 30%;

}

/* .top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-bg {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
} */

.experience-item-one {
    /* box-shadow: 10px 10px 40px gray; */
    width: 40%;
    margin-left: 5%;
    margin-right: 5px;
    padding-left: 20px;
    border-radius: 5px;
    border-left: 5px solid tomato;

}

.experience-item-two {
    /* box-shadow: 10px 10px 40px gray; */
    width: 40%;
    margin-left: 5%;
    margin-right: 5px;
    padding-left: 20px;
    padding-bottom: 5%;
    border-radius: 5px;
    border-left: 5px solid blue;

}

/* .experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
} */

footer {
    background-color: #0B0223;
    padding: 30px 0;
}

footer p {
    text-align: center;
    color: white;
    font-size: 12px;
}

.experience-item-one p {
    text-align: justify;
}

.experience-item-two p {
    text-align: justify;
}

/* Media Query */
@media screen and (max-width:576px) {
    .flexible-container {
        flex-direction: column-reverse;
        padding: 20px;
        align-items: center;
        /* margin-top: 20px; */
        gap: 20px;
    }

    h1 {
        font-size: 30px;
        margin: 10px 15px;
    }

    h2 {
        font-size: 25px;
        margin: 10px 15px;
    }

    .flexible-container p {
        font-size: 12px;
        text-align: justify;
        margin: 10px 15px;
        margin-bottom: 20px;
    }

    .half-width {
        width: 400px;
    }

    .flexible-container .link-button {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .sinthia-img {
        width: 350px;
        margin-top: 30px;
    }

    .experience-item-one {
        width: 200px;
        border-radius: 5px;
        border-left: 5px solid tomato;
    }

    .experience-item-one h2 {
        font-size: 25px;
    }

    .experience-item-one p {
        text-align: justify;
    }

    .sinthia-img2 {
        width: 350px;
        margin-top: 30px;
    }

    .experience-area h1 {
        font-size: 25px;
        text-align: center;
        color: crimson;
        text-decoration: underline;
    }

    .experience-item-one {
        width: 350px;
        border-radius: 5px;
        border-left: 2px solid orange;
        text-align: center;
    }

    .experience-item-two {
        width: 350px;
        border-radius: 5px;
        border-left: 2px solid orange;
        text-align: center;
    }
}